page-home {
    $colors: (
      azul: (
        base: #000,
        contrast:  #0080ff
      )
    );
    #ventanaAñadir{
      height:50%;
      width:85%;
      position: fixed;
      top: 75px;
      left:6%;
      background-color: red;
      display:none;
    }
    #ventanaAyuda{
      height:80%;
      width:85%;
      position: fixed;
      top: 75px;
      left:6%;
      background-color: blue;
      display:none;
    }
    #tituloAyuda{
      width:100%;
      height:50px;
      background-color: #aaaaaa;
      text-align:center;
    }
    #tituloAñadir{
      width:100%;
      height:50px;
      background-color: #aaaaaa;
      text-align:center;
    }
    #textoAyuda{
      margin-left:10px;
      line-height:50px;
    }
    #textoAñadir{
      margin-left:10px;
      line-height:50px;
    }
    #iconoSalirAyuda{
      float: right;
      height:60%;
      width:auto;
    }
    #iconoSalirAñadir{
      float: right;
      height:60%;
      width:auto;
    }
    #divFormulario{
      width:60%;
      height:50px;
      margin-left:20%;
    }
    .input{
      margin-top:10%;
      border-radius: 5px;
      width:100%;
      height: 30px;
    }
    #botonAñadir{
      margin-top:15%;
      width: 50%;
      height:30px;
      margin-left:3%;
    }
    #div_img{
      width: 100%;
      height: 250px;
      margin: auto;
    }
    #img_ppal{
      width: 100%;
      height: 100%;
    }
    b{
      font-size: 20px;
    }
    .titulos{
      margin-top: 40px;
      width: 100%;
      text-align:center;
    }
    #cuentas{
      height:auto;
      width: 100%;

    }
    .cuenta:active{
      background-color: #0080dd;
      box-shadow: 0 2px #666;
      transform: translateY(2px);
    }
    .cuenta{
      height:40px;
      width: 80%;
      margin: 0 auto;
      margin-top:50px;
      border-radius:10px;
      background-color: #0080ff;
      box-shadow: 0 5px #999;

    }
    .nombreCuenta{
      text-align:center;
      line-height: 40px;
      font-size:24px;
      color:white;
    }
    input{
      margin-left:10px;
    }
    .submit{
      margin-left:10px;
    }
    #margen{
      width:100%;
      height:60px;
      margin-top:50px;
    }
    #noCuenta{
      margin-left:20px;
      position: fixed;
      bottom:5%;
      left:2%;
      font-size:12px;
      background-color:white;
      width:100%;
      padding:10px;
    }
    #div_boton{
      width: 90%;
      position: fixed;
      bottom:0;
      left:4%;
      height: 50px;
      margin:0;
      background-color:white;
    }
    #boton{
      width: 50%;
      height:30px;
      line-height:40px;
      margin-bottom:1%;
    }
    #icono{
      float:right;
      line-height:20px;
      margin-right:1%;
    }
    #icono:active{
      height:45px;
      width:45px;
    }
    #logoDiv{
      margin-left:780px;
     
      height: 120px;
      margin-top:30px;

    }
    #logo{
     width:15%;
     height:100%;
    }
    a{
      cursor:pointer;
    }

    ion-title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      background-color: #0080ff;
    }
}
